div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 5rem;
    min-height: 90vh;
}

.cell {
    color: red;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}